:root {
  --main-color: #29272B;
  --alt-color: white;
}

@font-face {
  font-family: "banquiseregular";
  src:
    url("/Banquise-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


* {
    font-family: monospace;
    
    background-color: var(--main-color);
    color: var(--alt-color);
    
    margin: 0.25rem;
}

div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
  font-size: 4rem;
  
  font-family: "banquiseregular", serif;
}

a {
  font-size: 1.5rem;
}

a:hover {
  background-color: var(--alt-color);
  color: var(--main-color);
  text-decoration: none;
}
